name: Reusable ARM Deployment

on:
  workflow_call:
    inputs:
      templateFile:
        required: true
        type: string
      parametersFile:
        required: true
        type: string
      resourceGroup:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true
      PAT:
       required: true
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout reusable repo
        uses: actions/checkout@v3
        with:
          repository: praveenadmin/BH-Reusable-Templates
          ref: main

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy ARM Template
        run: |
          az deployment group create \
            --resource-group "${{ inputs.resourceGroup }}" \
            --template-file "${{ inputs.templateFile }}" \
            --parameters @"${{ inputs.parametersFile }}"
